/* The row of recommended videos that appear when a video is paused. */
.ytp-pause-overlay{
  display:none;
}

/* The wall of recommended videos that appear at the end of a video. */
.ytp-endscreen-content{
  display:none;
}

/* Channel watermark logos that appear in the bottom right of videos. */
.iv-branding{
  display:none;
}

/* The "Watch later" and "Add to queue" icon buttons that appear over the top
   right of thumbnails when they are hovered over. */
#hover-overlays.ytd-thumbnail{
  display:none;
}